@{
    ViewBag.Title = "test";
    Layout = null;
}


<div ms-controller="testmt">
    <h2>test</h2>
    {{username}}
    <input ms-duplex="username" />
</div>

<br />

<br /><br /><br /><br /><br /><br />