@{
    ViewBag.Title = "test";
    Layout = null;
}


<div ms-controller="testmt" >@*style="border:solid 1px #0ff ;"*@
        <div ms-widget="scrollbar,scrollbartest1VM,$scrollbar" class="oni-helper-reset" style="width: 100%;" ms-css-height="tabheight" data-scrollbar-position="right" ms-click="scrollbarupdate">
                <div class="oni-scrollbar-scroller oni-helper-reset">


                    <div style="height:1888px">

                             <h2>test</h2>
                    {{username}}
                    <input ms-duplex="username" />
                    </div>

                  
                </div>
            </div>
 

</div>

 